<!DOCTYPE html>
<html lang="{{ site.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">

<head>
  {{ partial "head.html" . }}
  <script>
    if (localStorage.theme === 'light') {
      document.documentElement.classList.remove('dark');
    } else {
      document.documentElement.classList.add('dark');
    }
  </script>
</head>

<body class="min-h-screen flex flex-col bg-[#fdfbf7] dark:bg-black font-jersey text-gray-900 dark:text-white text-3xl">
  <header>
    {{ partial "header.html" . }}
  </header>

  <main class="flex-1 w-full">
    <div id="swup" class="swup-transition-fade">
      <div class="max-w-4xl lg:max-w-[70rem] xl:max-w-[90rem] mx-auto px-5 sm:px-8 lg:px-10 py-10 lg:py-16">
        {{ block "main" . }}{{ end }}
      </div>

    </div>
  </main>

  <footer>
    {{ partial "footer.html" . }}
  </footer>
</body>

</html>
